.logo h1{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
}

.menu a{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.subtitle{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: center;
    color: white;
}